body {
    background-color: #151515;
}

.loader__animation {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50% auto;
}

.loader__animation::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #002ec4 0%, #8f0088 100%);
    animation: spin .5s infinite linear;
}

.loader__animation::after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader__animation::before,
.loader__animation::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}